<div class="container mt-5 mb-5">
    <h1>Contactos</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Ingrese su nombre" >
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Ingrese su apellido" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Ingrese E-mail" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="ingrese su telefono" >
            </div>
            <div class="col-lg-12">
                <button class="btn btn-md btn-dark">ENVIAR</button>
            </div>
            


        </div>
    </form>
</div>