<div class="container mt-5 mb-5">

    <h1 class="text-center">QUIENES SOMOS</h1>

    <p>
        BLACK ROYAL es un club para el entretenimiento para personas adultas, que ofrece gran variedad de actividades y eventos cada semana realizando eventos como sorteos, exhibiciones de baile, canto y convivencias con VTubers famosos como Emikukis, JaildenWorld, El PrimoZK y entre muchos más que representan y cargan el logo de BLACK ROYAL. 
        <br/> 
        <br/> 
        SERVICIOS.        <br/> 


        1.- Bailes con artistas experimentados         <br/> 

        2.- Cantantes de la mejor calidad        <br/> 

        3.- Streamers-VTubers         <br/> 

        4.- Eventos, Fiestas, Cumpleaños y Convivencias         <br/> 

        5.- Y MUCHO MAS!!! SUSCRIBETE AHORA!!!         <br/> 

 
        <br/>
        
        <br/>
    </p>

</div>